# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.venv/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env